@{
    Layout = "~/Views/Administrador/_LayoutAdmin.cshtml";
}

<div>
    <h1>Nuevo Producto</h1>
    <form id="crearProductoForm" method="post" action="@Url.Action("NuevoProducto", "Administrador")">
        <label class="Texto1Form" for="nombre">Nombre Producto</label><br>
        <input class="Boton1Form" type="text" id="nombre" name="nombre" required><br />
        <label class="Texto1Form" for="imagen">Imagen</label><br>
        <input class="Boton1Form" type="file" id="imagen" accept="image/*" required><br>
        <img id="imagen-preview" src="#" alt="Vista Previa de la Imagen" style="max-width: 200px; display: none;"><br>
        <input hidden id="imagenBase64" name="imagenBase64" />

        <label class="Texto1Form" for="precio">Precio</label><br>
        <div class="input-container">
            <input class="Boton1Form" type="number" id="precio" name="precio" required min="0" step="1" inputmode="numeric">
            <span class="error-message" id="precio-error">Ingrese un valor válido</span>
        </div><br>

        <label class="Texto1Form" for="existencia">Existencias</label><br>
        <div class="input-container">
            <input class="Boton1Form" type="number" id="existencia" name="existencia" required min="0" step="1" inputmode="numeric">
            <span class="error-message" id="existencia-error">Ingrese un valor válido</span>
        </div><br>



        <label class="Texto1Form" for="marca">Marca</label><br>
        <input class="Boton1Form" type="text" id="marca" name="marca" required><br>


        <label class="Texto1Form" for="Tipo">Tipo</label><br>
        <select class="ComboForm" id="Tipo" name="Tipo">
            <option value="Procesador" selected>Procesador</option>
            <option value="Gráfica">Gráfica</option>
            <option value="Almacenamiento">Almacenamiento</option>
            <option value="Ram">Ram</option>
            <option value="Fuente">Fuente</option>
            <option value="Placa">Placa</option>
        </select><br />
        <h4 class="espe">Especificaciones</h4>
        <!-- Campos específicos para cada tipo -->
        <div id="tipo-specific" class="hidden">
            <!-- Campos específicos para todos los tipos de productos -->
            <div class="input-container">
                <label class="Texto1Form" id="lblvelocidad" for="velocidad">Velocidad</label>
                <input class="Boton1Form" type="text" id="velocidad" name="Velocidad">
            </div>
            <div class="input-container">
                <label class="Texto1Form" id="lblfabricante" for="fabricante">Fabricante</label>
                <input class="Boton1Form" type="text" id="fabricante" name="Fabricante" >
            </div>
            <label class="Texto1Form" id="lblmodelo" for="modelo">Modelo</label>
            <input class="Boton1Form" type="text" id="modelo" name="Modelo" >
            <div class="input-container">
                <label class="Texto1Form" id="lblzocalo" for="zocalo">Zócalo</label>
                <input class="Boton1Form" type="text" id="zocalo" name="Zocalo">
            </div>
            <label class="Texto1Form" id="lblvram" for="tamanioVram">Tamaño VRAM</label>
            <input class="Boton1Form" type="text" id="tamanioVram" name="TamanioVram">
            <div class="input-container">
                <label class="Texto1Form" id="lblinterfaz" for="interfaz">Interfaz</label>
                <input class="Boton1Form" type="text" id="interfaz" name="Interfaz" >
            </div>
            <label class="Texto1Form" id="lblalmacenamiento">Almacenamiento</label>
            <input class="Boton1Form" type="text" id="almacenamiento" name="Almacenamiento" >
            <div class="input-container">
                <label class="Texto1Form" id="lbltecnologiaRam" for="tecnologiaRam">Tecnología RAM</label>
                <input class="Boton1Form" type="text" id="tecnologiaRam" name="TecnologiaRam" >
            </div>
            <div class="input-container">
                <label class="Texto1Form" id="lbltamañomemoria">Tamaño Memoria</label>
                <input class="Boton1Form" type="text" id="tamanioMemoria" name="TamanioMemoria" ><br>
            </div>

        </div>

        
        <label class="Texto1Form descripcion" for="Descripcion">Descripción</label><br>
        <button class="btn btn-secondary" type="button" id="agregarCampo">Agregar Descripción</button>
        <div id="campo-dinamico"></div>
        <input type="hidden" id="campos-dinamicos-hidden" name="Descripcion" value="">

        <button class="btn btn-secondary" type="submit" id="crearProductoBtn">Crear Producto</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tipoSelect = document.getElementById('Tipo');
        var camposEspecificos = document.getElementById('tipo-specific');
        var camposFabricante = document.getElementById('fabricante');
        var camposModelo = document.getElementById('modelo');
        var camposZocalo = document.getElementById('zocalo');
        var camposInterfaz = document.getElementById('interfaz');
        var camposVelocidad = document.getElementById('velocidad');
        var camposTamañoVram = document.getElementById('tamanioVram');
        var camposAlmacenamiento = document.getElementById('almacenamiento');
        var campostecnologiaRam = document.getElementById('tecnologiaRam');
        var campostamanioMemoria = document.getElementById('tamanioMemoria');
        var lblCampoVelocidad = document.getElementById('lblvelocidad');
        var lblzocalo = document.getElementById('lblzocalo');
        var lblfabricante = document.getElementById('lblfabricante');
        var lblmodelo = document.getElementById('lblmodelo');
        var lblvram = document.getElementById('lblvram');
        var lblinterfaz = document.getElementById('lblinterfaz');
        var lblalmacenamiento = document.getElementById('lblalmacenamiento');
        var lbltecnologiaRam = document.getElementById('lbltecnologiaRam');
        var lbltamaniomemoria = document.getElementById('lbltamañomemoria');
        function hideAllSpecificFields() {
            lblzocalo.style.display = 'none';
            lblCampoVelocidad.style.display = 'none';
            camposFabricante.style.display = 'none';
            camposModelo.style.display = 'none';
            camposZocalo.style.display = 'none';
            camposInterfaz.style.display = 'none';
            camposVelocidad.style.display = 'none';
            camposTamañoVram.style.display = 'none';
            camposAlmacenamiento.style.display = 'none';
            campostecnologiaRam.style.display = 'none';
            campostamanioMemoria.style.display = 'none';
            lblfabricante.style.display = 'none';
            lblmodelo.style.display = 'none';
            lblvram.style.display = 'none';
            lblinterfaz.style.display = 'none';
            lblalmacenamiento.style.display = 'none';
            lbltamaniomemoria.style.display = 'none';
            lbltecnologiaRam.style.display = 'none';
        }

 
        tipoSelect.addEventListener('change', function () {
            hideAllSpecificFields();

            var selectedValue = tipoSelect.value;

            if (selectedValue === "Procesador") {
                lblCampoVelocidad.style.display = 'block';
                lblfabricante.style.display = 'block';
                lblmodelo.style.display = 'block';
                lblzocalo.style.display = 'block';
                camposEspecificos.style.display = 'block';
                camposFabricante.style.display = 'block';
                camposModelo.style.display = 'block';
                camposVelocidad.style.display = 'block';
                camposZocalo.style.display = 'block';
                camposFabricante.required = true;
                camposModelo.required = true;
                camposZocalo.required = true;
                camposInterfaz.required = false;
                camposVelocidad.required = true;
                camposTamañoVram.required = false;
                camposAlmacenamiento.required = false;
                campostecnologiaRam.required = false;
                campostamanioMemoria.required = false;

            } else if (selectedValue === "Gráfica") {
                lblCampoVelocidad.style.display = 'block';
                lblfabricante.style.display = 'block';
                lblmodelo.style.display = 'block';
                lblvram.style.display = 'block';
                lblinterfaz.style.display = 'block';
                camposEspecificos.style.display = 'block';
                camposFabricante.style.display = 'block';
                camposModelo.style.display = 'block';
                camposInterfaz.style.display = 'block';
                camposVelocidad.style.display = 'block';
                camposTamañoVram.style.display = 'block';
                camposFabricante.required = true;
                camposModelo.required = true;
                camposZocalo.required = false;
                camposInterfaz.required = true;
                camposVelocidad.required = true;
                camposTamañoVram.required = true;
                camposAlmacenamiento.required = false;
                campostecnologiaRam.required = false;
                campostamanioMemoria.required = false;

            } else if (selectedValue === "Ram") {
                lblCampoVelocidad.style.display = 'block';
                lblfabricante.style.display = 'block';
                lblmodelo.style.display = 'block';
                lbltecnologiaRam.style.display = 'block';
                lbltamaniomemoria.style.display = 'block';
                camposEspecificos.style.display = 'block';
                camposFabricante.style.display = 'block';
                camposModelo.style.display = 'block';
                campostamanioMemoria.style.display = 'block';
                camposVelocidad.style.display = 'block';
                campostecnologiaRam.style.display = 'block';
                camposFabricante.required = true;
                camposModelo.required = true;
                camposZocalo.required = false;
                camposInterfaz.required = false;
                camposVelocidad.required = true;
                camposTamañoVram.required = false;
                camposAlmacenamiento.required = false;
                campostecnologiaRam.required = true;
                campostamanioMemoria.required = true;

            } else if (selectedValue === "Fuente") {

                lblfabricante.style.display = 'block';

                camposFabricante.style.display = 'block';
                camposFabricante.required = true;
                camposModelo.required = false;
                camposZocalo.required = false;
                camposInterfaz.required = false;
                camposVelocidad.required = false;
                camposTamañoVram.required = false;
                camposAlmacenamiento.required = false;
                campostecnologiaRam.required = false;
                campostamanioMemoria.required = false;

            } else if (selectedValue === "Almacenamiento") {
                lblfabricante.style.display = 'block';
                lblinterfaz.style.display = 'block';
                lblalmacenamiento.style.display = 'block';

                camposEspecificos.style.display = 'block';
                camposFabricante.style.display = 'block';
                camposInterfaz.style.display = 'block';
                camposAlmacenamiento.style.display = 'block';
                camposFabricante.required = true;
                camposModelo.required = false;
                camposZocalo.required = false;
                camposInterfaz.required = true;
                camposVelocidad.required = false;
                camposTamañoVram.required = false;
                camposAlmacenamiento.required = true;
                campostecnologiaRam.required = false;
                campostamanioMemoria.required = false;
            } else if (selectedValue === "Placa") {
                lblfabricante.style.display = 'block';
                lblmodelo.style.display = 'block';
                lblzocalo.style.display = 'block';
                lbltecnologiaRam.style.display = 'block';

                camposEspecificos.style.display = 'block';
                camposFabricante.style.display = 'block';
                camposModelo.style.display = 'block';
                camposZocalo.style.display = 'block';
                campostecnologiaRam.style.display = 'block';
                camposFabricante.required = true;
                camposModelo.required = true;
                camposZocalo.required = true;
                camposInterfaz.required = false;
                camposVelocidad.required = true;
                camposTamañoVram.required = false;
                camposAlmacenamiento.required = false;
                campostecnologiaRam.required = false;
                campostamanioMemoria.required = false;
            }
        });

        hideAllSpecificFields();


        var defaultTipoValue = 'Procesador';

        tipoSelect.value = defaultTipoValue;

        tipoSelect.dispatchEvent(new Event('change'));


        document.getElementById('agregarCampo').addEventListener('click', function () {
            var newInput = document.createElement('input');
            newInput.classList.add('Boton1Form');
            newInput.type = 'text';
            newInput.name = 'nuevoCampo[]'; // Cambia el nombre según tus necesidades

            var deleteButton = document.createElement('button');
            deleteButton.textContent = 'Eliminar';
            deleteButton.type = 'button';
            deleteButton.classList.add('btn', 'btn-danger');
            deleteButton.addEventListener('click', function () {
                parentDiv.removeChild(newInput);
                parentDiv.removeChild(deleteButton);
                updateHiddenField();
            });

            var parentDiv = document.getElementById('campo-dinamico');
            parentDiv.appendChild(newInput);
            parentDiv.appendChild(deleteButton);
        });

        var crearProductoForm = document.getElementById('crearProductoForm');

        crearProductoForm.addEventListener('submit', function (event) {
            var inputs = crearProductoForm.querySelectorAll('input[required]');
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].value.trim() === '') {
                    event.preventDefault();
                    alert('Por favor, completa todos los campos requeridos.');
                    return;
                }
            }

            updateHiddenField();
            confirmSubmit();
        });

        function confirmSubmit() {
            event.preventDefault();
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Se creará un nuevo producto',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, crear producto',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    crearProductoForm.submit();
                }
            });
        }

        document.getElementById('precio').addEventListener('input', function () {
            var precioError = document.getElementById('precio-error');
            if (this.validity.valid) {
                precioError.style.display = 'none';
            } else {
                precioError.style.display = 'block';
            }
        });

        document.getElementById('existencia').addEventListener('input', function () {
            var existenciaError = document.getElementById('existencia-error');
            if (this.validity.valid) {
                existenciaError.style.display = 'none';
            } else {
                existenciaError.style.display = 'block';
            }
        });

        document.getElementById('imagen').addEventListener('change', function (e) {
            var fileInput = e.target;
            var previewImage = document.getElementById('imagen-preview');
            var imagenBase64Field = document.getElementById('imagenBase64'); // Campo oculto para almacenar la imagen en Base64

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (event) {
                    var base64Image = event.target.result;
                    previewImage.src = base64Image;
                    previewImage.style.display = 'block';

                    // Asignar el valor Base64 al campo oculto
                    imagenBase64Field.value = base64Image;
                };

                reader.readAsDataURL(fileInput.files[0]);
            } else {
                previewImage.src = '#';
                previewImage.style.display = 'none';
                imagenBase64Field.value = '';
            }
        });

        function updateHiddenField() {
            var inputs = document.querySelectorAll('#campo-dinamico input');
            var values = Array.from(inputs).map(input => input.value);
            document.getElementById('campos-dinamicos-hidden').value = values.join(',');
        }
    });
</script>